.main {
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.back-to-orders-link {
  display: inline-block;
  margin-bottom: 30px;

  color: #555555;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.back-to-orders-link::before {
  content: '← ';
}

.back-to-orders-link:hover {
  color: #000000;
  text-decoration: underline;
}

.delivery-date {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;

  color: #111111;
}

.product-info {
  margin-bottom: 3px;
  color: #555555;
}

.product-image {
  max-width: 150px;
  max-height: 150px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.progress-labels-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #999999;
}

.current-status {
  color: #000000;
  font-weight: 700;
}

@media (max-width: 575px) {
  .progress-labels-container {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .progress-labels-container {
    flex-direction: column;
    margin-bottom: 5px;
  }

  .progress-label {
    margin-bottom: 3px;
  }
}

.progress-bar-container {
  height: 25px;
  width: 100%;

  border: 1px solid #cccccc;
  border-radius: 50px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.progress-bar {
  height: 100%;

  background: linear-gradient(90deg, #000000, #555555);
  border-radius: 50px;
  width: 50%;

  transition: width 0.5s ease;
}